body {
  font-family: "Onest", sans-serif;
  font-size: 16px;
  color: #000;
  --bs-link-color-rgb: #000;
}

.main {
  overflow: hidden;
  width: 100%;
}

a {
  text-decoration: none;
}

.panel {
  min-height: 100vh;
  width: 100%;
  position: relative;

  &-top {
    height: 75px;
    border-radius: 75px 75px 0 0;
    position: relative;

    &.section2 {
      background: #080e2c;
      z-index: 2;
    }

    &.section3 {
      background: #eef6fd;
      z-index: 3;
    }

    &.section4 {
      background: #fff;
      z-index: 4;
    }
  }

  &.section1 {
    background-color: #efeff0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 100%;
    z-index: 1;
    /* @include respond(mac) {
       background-image: url("../images/dist/bg1@2.jpg");
     }
     @include respond(tablet) {
       background-image: url("../images/dist/bg1.jpg");
     }*/

    .container {
      padding-top: 100px;
      padding-bottom: 100px;
      min-height: 100vh;
      display: flex;
      align-items: center;
    }

    h1 {
      text-transform: uppercase;
      font-size: 80px;
      line-height: 1.1;
      font-weight: 800;
      margin: 0;
      padding-bottom: 50px;

      span {
        display: block;
        font-size: 60px;
      }
    }

    p {
      padding: 0;
      margin: 0;
      font-weight: 100;
      font-size: 28px;
      line-height: 1.3;
    }

    .scene {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
    }

  }

  &.section2 {
    background: #080e2c;
    padding: 50px 0 100px;
    display: flex;
    align-items: center;
    z-index: 2;
    min-height: 100vh;

    h2 {
      font-size: 60px;
      color: #fff;
      line-height: 1.1;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 25px;
      font-weight: 800;
    }

    p {
      font-size: 28px;
      line-height: 1.3;
      margin: 0;
      font-weight: 100;
      color: #fff;
    }

    & .section2__params {
      background: linear-gradient(90deg, rgba(129, 251, 184, 1) 0%, rgba(40, 199, 111, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: rgb(129, 251, 184);
      font-size: 168px;
      line-height: 1;
      font-weight: 800;
      margin-bottom: 10px;

      span {
        font-size: 84px;
      }
    }

  }

  &.section3 {
    background: #eef6fd;
    padding-top: 50px;
    z-index: 3;
    padding-bottom: 20px;
  }

  &.section4 {
    background: #fff;
    padding-top: 75px;
    z-index: 4;
  }
}

.panel.green {
  margin-bottom: 400px
}

.home-footer {
  position: relative;
  z-index: 5;
  background: #fff;
  padding-top: 50px;
  transition: all 0.5s ease-in-out;
}

.black-bg.active {
  background-color: #fff !important;
}

.header {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  padding: 42px 0 0;

  &__nav__list {
    justify-content: center;

    li {
      padding: 0 10px;

      a {
        display: block;
        padding: 5px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
      }
    }
  }

  &__col-phone {
    text-align: right;

    a {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
    }
  }
}

.btn-test {
  display: inline-flex;
  align-items: center;
  padding: 5px 30px 5px 50px;
  position: relative;
  overflow: hidden;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #4e5264;

  &__text {
    position: relative;
    z-index: 10;
    padding-right: 40px;
  }

  &__label {
    display: block;
    color: #7ef9b5;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
  }

  &__site {
    font-size: 28px;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
  }

  &__ico {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    height: 48px;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background: #4e5264;
      transition: all 1s ease-in-out;
      left: 0;
      top: 0;
    }

    svg {
      position: relative;
      z-index: 10;
    }
  }

  &:hover,
  &:focus {
    .btn-test__ico::after {
      transform: scale(100);
    }
  }
}

.section3__desc {
  padding-bottom: 130px;

  h2 {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 30px;
  }

  p {
    margin-bottom: 25px;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.3;

    b {
      font-weight: 700;
    }

    small {
      font-size: 16px;
    }
  }
}

.section3 {
  &__after {
    position: absolute;
    z-index: 1;
    top: -30px;
    left: -130px;
  }

  &__before {

    position: absolute;
    z-index: 1;
    bottom: -70px;
    right: -200px;
  }

  .container {
    .row {
      position: relative;
      z-index: 20;
    }


  }
}

.compact-desc {
  text-align: center;
  padding-bottom: 130px;
  padding-top: 50px;

  h2 {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 30px;
  }

  p {
    margin: 0;
    font-weight: 100;
    font-size: 28px;
    line-height: 1.3;
  }
}


.compact-line {
  width: 100%;
  min-width: 1920px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 200px;
  /* background: url("../images/dist/sweet-line.svg") 0 50% repeat-x;
   background-size: auto 100%;*/
  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 200px;
    min-width: 200px;

    &__active {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      opacity: 0;
      transition: all 1s ease-in-out 0.1s;

      &.active {
        opacity: 1;
      }

    }
  }
}

.sweet-animate.active {
  .compact-line__item__active {

  }
}


.slider-box {
  padding-bottom: 160px;

  &__title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 30px;
    text-align: center;
  }

  &__wrap {
    position: relative;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    .btn {
      width: 320px;
    }
  }
}

.btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
  border-radius: 35px;
  color: #000000;

  &::after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    transition: all 0.5s ease-in-out;
    position: absolute;
    opacity: 0;

  }

  &:hover {
    &::after {
      opacity: 1;
      transform: scale(100);
    }

    span {
      color: #fff;
    }
  }

  &:active {
    &::after {
      opacity: 1;
      transform: scale(100);
    }

    span {
      color: #fff;
    }
  }

  span {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
  }
}

.product-box {
  display: block;

  &__img {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 40px;
    background: #f5f5f5;
    border-radius: 15px;
    align-items: center;
    justify-content: center;

    picture img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
      transition: all 0.5s ease;
      transform: scale(1);
    }

    &:hover {
      picture img {
        transform: scale(1.1);
      }
    }
  }

  &__badge {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
  }

  &__body {
    padding: 18px 20px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    transition: all 0.2s ease-in-out;
    padding-bottom: 15px;

  }

  &:hover {
    .product-box__title {
      color: #6c7a89;
    }
  }

  &__props {
    &__item {
      padding-bottom: 3px;
      color: #6c7a89;
      font-size: 14px;
      line-height: 24px;

      &__val {
        color: #000;
      }
    }

  }
}

.swiper__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  top: 150px;
  background: #fff;
  width: 74px;
  height: 74px;
  border-radius: 37px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  margin-top: -36px;
  color: #4d4d4d;

  &--prev {
    left: -48px;
  }

  &--next {
    right: -48px;
  }

  &:hover {
    color: #000;
  }
}

.swiper-button-disabled {
  opacity: 0;
}

#sliderNewsNext,
#sliderNewsPrev {
  top: 175px;
}

.product-box__props__item__val__color {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  overflow: hidden;

  &.red {
    background: rgb(251, 57, 57);
    background: -moz-radial-gradient(circle, rgba(251, 57, 57, 1) 0%, rgba(251, 57, 57, 0.2) 66%, rgba(251, 57, 57, 0) 95%);
    background: -webkit-radial-gradient(circle, rgba(251, 57, 57, 1) 0%, rgba(251, 57, 57, 0.2) 66%, rgba(251, 57, 57, 0) 95%);
    background: radial-gradient(circle, rgba(251, 57, 57, 1) 0%, rgba(251, 57, 57, 0.2) 66%, rgba(251, 57, 57, 0) 95%);
  }

  &.white {
    background: rgb(226, 226, 226);
    background: -moz-radial-gradient(circle, rgba(226, 226, 226, 1) 0%, rgba(226, 226, 226, 0.2) 66%, rgba(226, 226, 226, 0) 95%);
    background: -webkit-radial-gradient(circle, rgba(226, 226, 226, 1) 0%, rgba(226, 226, 226, 0.2) 66%, rgba(226, 226, 226, 0) 95%);
    background: radial-gradient(circle, rgba(226, 226, 226, 1) 0%, rgba(226, 226, 226, 0.2) 66%, rgba(226, 226, 226, 0) 95%);
  }

  &.blue {
    background: rgb(182, 242, 255);
    background: -moz-radial-gradient(circle, rgba(182, 242, 255, 1) 0%, rgba(182, 242, 255, 0.2) 66%, rgba(182, 242, 255, 0) 95%);
    background: -webkit-radial-gradient(circle, rgba(182, 242, 255, 1) 0%, rgba(182, 242, 255, 0.2) 66%, rgba(182, 242, 255, 0) 95%);
    background: radial-gradient(circle, rgba(182, 242, 255, 1) 0%, rgba(182, 242, 255, 0.2) 66%, rgba(182, 242, 255, 0) 95%);
  }

  &.yellow {
    background: rgb(255, 255, 0);
    background: -moz-radial-gradient(circle, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 0, 0.2) 66%, rgba(255, 255, 0, 0) 95%);
    background: -webkit-radial-gradient(circle, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 0, 0.2) 66%, rgba(255, 255, 0, 0) 95%);
    background: radial-gradient(circle, rgba(1255, 255, 0, 1) 0%, rgba(255, 255, 0, 0.2) 66%, rgba(1255, 255, 0, 0) 95%);
  }
}


.news-item {
  display: block;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  &__title {
    padding: 15px 30px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }

  &:hover {
    color: #6c7a89;
  }
}

.marketplace {
  background: #000;

  .container {
    padding-top: 130px;
    padding-bottom: 130px;

  }

  .marketplace__bg {
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;

    &__wrap {
      width: 100%;
      height: 100%;
      background: url("../images/dist/bg-market2.jpg") 95% 0 no-repeat;
      background-size: 573px auto;
    }
  }

  &__desc {
    padding-bottom: 60px;

    h2 {
      font-size: 60px;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: 800;
      color: #fff;
      margin: 0 0 15px;
    }

    p {
      margin: 0;
      color: #fff;
      font-weight: 100;
      font-size: 28px;
      line-height: 1.1;
    }
  }

  &__item {
    width: 304px;
    margin-right: 60px;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 170px;
      border-radius: 30px;

      &.ozon {
        background: #005bff;
      }

      &.wb {
        background-image: -moz-linear-gradient(90deg, rgb(203, 17, 171) 0%, rgb(153, 0, 153) 50%, rgb(72, 17, 115) 100%);
        background-image: -webkit-linear-gradient(90deg, rgb(203, 17, 171) 0%, rgb(153, 0, 153) 50%, rgb(72, 17, 115) 100%);
        background-image: -ms-linear-gradient(90deg, rgb(203, 17, 171) 0%, rgb(153, 0, 153) 50%, rgb(72, 17, 115) 100%);
        background-image: linear-gradient(90deg, rgb(203, 17, 171) 0%, rgb(153, 0, 153) 50%, rgb(72, 17, 115) 100%);
      }

    }

    &__title {
      display: flex;
      align-items: center;
      padding: 15px 0 0 45px;
      color: #fff;
      font-size: 16px;
      line-height: 1.2;

      svg {
        margin-right: 10px;
      }

      b {
        font-size: 22px;
        line-height: 24px;
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }

  &__list {
    display: flex;
  }

  &__link {
    height: 170px;
    border-radius: 85px;
    border: 1px solid #4e5264;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 320px;

    span {
      position: relative;
      display: block;
      z-index: 10;
      color: #fff;
      transition: all 0.3s ease-in-out;
      text-align: center;
      font-size: 24px;
      line-height: 36px;

      b {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #4e5264;
      transition: all 0.5s ease-in-out;
      opacity: 0;

    }

    &:hover {
      &::after {
        opacity: 1;
        transform: scale(100);
      }

      span {
        color: #fff;
      }
    }
  }
}

.home-prim {
  padding-top: 150px;
  padding-bottom: 100px;

  h2 {
    font-weight: 800;
    font-size: 60px;
    line-height: 1.3;
    margin: 0 0 60px;
  }

  .btn {
    width: 320px;
  }

  &__item {
    display: flex;

    &__ico {
      min-width: 110px;

      .ico-area {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        background: #f5f5f5;
        color: #000;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 800;
      }
    }

    &__desc {
      flex-grow: 1;

      h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 1.3;
        margin: 0 0 15px;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &:not(:last-child) {

      margin-bottom: 30px;

      .home-prim__item__desc {
        padding-bottom: 30px;
        border-bottom: 1px solid #dedede;
      }
    }
  }

  &__img {
    height: 540px;
    position: relative;

    &__wrap {
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 30px;
      width: 646px;
    }
  }
}

.footer {
  padding-top: 115px;
  background: #000;

  &__logo {
    display: block;
    margin-bottom: 110px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__middle {
    padding-bottom: 110px;
  }

  &__nav {
    flex-direction: column;

    li {
      padding-bottom: 15px;

      a {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          color: #b7b7b7;
          text-decoration: none;
        }
      }
    }
  }

  &__phone {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #b7b7b7;
      text-decoration: none;
    }
  }

  &__email {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      color: #b7b7b7;
      text-decoration: none;
    }
  }

  &__address {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  &__ps {
    color: #b7b7b7;
    font-size: 14px;
    line-height: 18px;
  }

  &__marketplace {
    &__caption {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #fff;
      padding-bottom: 25px;
    }

    &__list {
      li {
        padding: 0 30px 30px 0;
      }
    }

    &__item {
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      width: 170px;
      height: 62px;
      border-radius: 10px;
      background: #191919;
    }
  }

  &__bottom {
    align-items: center;
    padding-bottom: 75px;
  }

  &__copy {
    color: #b7b7b7;
    font-size: 14px;
    line-height: 18px;
  }

  &__web {
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;

    .ico {
      width: 40px;
      min-width: 40px;
    }

    &__name {
      color: #fff;
      display: block;
    }

    &:hover {
      color: #fff;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;

    &:hover {

      color: #b7b7b7;
      text-decoration: none;
    }
  }
}

.fpad30 {
  padding-bottom: 30px;
}

.header__col-mob-btn {
  display: none;
}

.header__nav__container {
  padding-left: 0;
  padding-right: 0;
}

.header__mob__marketplace {
  display: none;
}

.catalog-page {
  padding-top: 200px;
  padding-bottom: 100px;

  &__header {
    padding-bottom: 50px;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 96px;
      line-height: 1;
      font-weight: 800;
      text-transform: uppercase;
    }

    &__slogan {
      font-weight: 100;
      font-size: 30px;
      line-height: 1.3;
    }
  }

  &__mob-filter {
    display: none;
  }
}

.catalog-page__filters {
  padding-bottom: 60px;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__item {

    flex-grow: 1;
    position: relative;

    &__header {
      position: relative;
      width: 100%;
      height: 50px;
      overflow: hidden;

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &__mob-label {
        display: none;
      }

      .form-control {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50px;
        padding: 20px 30px 5px 20px;
        border: 1px solid #231f20;
        border-radius: 12px;
        font-size: 14px;
        line-height: 1;
        color: #000;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34px' height='34px'%3E%3Cpath fill-rule='evenodd' stroke-width='2px' stroke='rgb(35, 31, 32)' fill='rgb(255, 255, 255)' d='M17.000,5.000 C23.627,5.000 29.000,10.373 29.000,16.1000 C29.000,23.627 23.627,29.000 17.000,29.000 C10.373,29.000 5.000,23.627 5.000,16.1000 C5.000,10.373 10.373,5.000 17.000,5.000 Z'/%3E%3C/svg%3E");
        background-position: right 15px top 50%;
        background-repeat: no-repeat;
        background-size: 12px 12px;

        &:focus,
        &:hover,
        &:active {
          box-shadow: none;
          outline: none;
        }
      }

      .form-floating > label {
        padding: 12px 0 2px 20px;
        background: transparent;
        font-size: 16px;
        line-height: 24px;
        color: #000;
        transition: all 0.2s ease-in-out;
        width: calc(100% - 30px);
        overflow: hidden;
      }
    }
  }

  .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown), .form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown) {
    padding-top: 20px;
    padding-bottom: 2px;
  }

  & .form-floating > .form-control:focus ~ label,
  & .form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: #38cc7a;
  }

  & .form-floating > .form-control:not(:placeholder-shown) {
    border-color: #38cc7a;
    background-size: 10px 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'%3E%3Cdefs%3E%3Cfilter id='Filter_0'%3E%3CfeFlood flood-color='rgb(56, 204, 122)' flood-opacity='1' result='floodOut' /%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut' /%3E%3CfeBlend mode='normal' in='compOut' in2='SourceGraphic' /%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23Filter_0)'%3E%3Cpath fill-rule='evenodd' fill='rgb(72, 113, 247)' d='M12.000,0.000 C18.627,0.000 23.1000,5.373 23.1000,11.1000 C23.1000,18.627 18.627,24.000 12.000,24.000 C5.373,24.000 0.000,18.627 0.000,11.1000 C0.000,5.373 5.373,0.000 12.000,0.000 Z'/%3E%3C/g%3E%3C/svg%3E");
  }
}

.catalog-page__filters__mod-header,
.catalog-page__filters__footer__mob-submit {
  display: none;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  border-radius: 23px;
  border: none;
  background: #000;
  color: #fff;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-size: 14px;

  &:hover {
    opacity: 0.9;
  }
}

.catalog-page__filters__item__body {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 100%;
  width: 100%;
  margin-top: 5px;

  .nav {
    flex-direction: column;
    padding: 10px 15px;
    border: 1px solid #231f20;
    border-radius: 12px;
    background: #fff;

    li:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}

.catalog-page__filters__radio-btn {
  cursor: pointer;
  display: block;

  input {
    display: none;

    &:checked + span {
      color: #38cc7a !important;
    }
  }

  span {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }
}

.catalog-page__filters__footer {
  padding-top: 25px;
}

.catalog-page__filters__clear {
  display: inline-flex;
  align-items: center;
  padding: 3px 20px;
  color: #6c7a89;
  font-size: 16px;
  line-height: 24px;

  svg {
    margin-right: 10px;
  }
}

.fpad50 {
  padding-bottom: 50px;
}

.text {
  .fs-30 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 800;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 48px;
    line-height: 1.3;
    font-weight: 800;
    text-transform: uppercase;
    margin: 40px 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;

    li {
      padding: 0 0 10px 30px;
      font-size: 16px;
      line-height: 24px;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 9px;
        left: 12px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #000;
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: num;
    margin: 0;
    padding: 0;
    font-size: 16px;
    li {
      position: relative;
      margin: 0;
      padding: 0 0 16px 22px;
      &:before {
        content: counter(num) '.';
        counter-increment: num;
        display: block;
        text-align: center;
        width: 20px;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }
  }
}

.product-page__text {
  padding-bottom: 30px;
}

.tpad50 {
  padding-top: 50px;
}

.product-page {
  padding-top: 130px;
  padding-bottom: 150px;

  &__wrap {
    overflow: hidden;
  }

  &__title {
    width: 50%;
    float: right;
    padding-left: 13px;

    h1 {
      font-weight: 800;
      font-size: 42px;
      line-height: 1.3;
      text-transform: uppercase;
      margin: 0 0 45px;
    }
  }

  &__images {
    width: 50%;
    float: left;
    padding-right: 53px;
    position: relative;
  }

  &__body {
    width: 50%;
    float: right;
    padding-left: 13px;
    clear: right;

  }
}

.page-wrap .breadcrumb {
  margin-top: -70px;
}

.breadcrumb {
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  display: flex;
  color: #000000;
  margin-bottom: 0;

  span {
    margin-right: 5px;
  }

  a {
    margin-right: 5px;
    color: #000000;
    text-transform: uppercase;
  }
}

.fpad20 {
  padding-bottom: 20px;
}


.product-page__params {
  padding-bottom: 50px;

  &__item {
    display: flex;
    align-items: center;
    min-height: 70px;
    padding: 10px 10px 10px 20px;
    border: 1px solid #dedede;
    border-radius: 12px;

    &__desc {
      flex-grow: 1;
    }

    &__caption {
      font-size: 14px;
      line-height: 1.1;
      font-weight: 500;
      color: #6c7a89;
    }

    &__val {
      font-weight: bold;
      font-size: 30px;
      line-height: 1;
      color: #000;
    }
  }
}

.product-page__params__more {
  display: inline-flex;
  align-items: center;
  padding: 0 0 0 21px;
  font-size: 14px;
  line-height: 18px;
  color: #6c7a89;
  text-decoration: none;
  font-weight: bold;
}

.product-page__badge {
  position: absolute;
  z-index: 20;
  top: 20px;
  right: 73px;

  img {
    display: block;
    margin-bottom: 20px;
  }
}

.product-page__images {
  padding-bottom: 50px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .swiper-slide:not(.product-page__images__big) {
    width: calc(50% - 5px);

  }

  &__big {
    width: 100%;

    .product-page__images__wrap {
      padding: 120px;
    }
  }

  &__wrap {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    padding: 15px;
    background: #f5f5f5;
  }
}

.product-page__params__item__right {
  min-width: 20px;

  .product-box__props__item__val__color {
    margin-left: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}

.ozon {
  background: #005bff;
}

.wb {
  background-image: -moz-linear-gradient(90deg, rgb(203, 17, 171) 0%, rgb(153, 0, 153) 50%, rgb(72, 17, 115) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(203, 17, 171) 0%, rgb(153, 0, 153) 50%, rgb(72, 17, 115) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(203, 17, 171) 0%, rgb(153, 0, 153) 50%, rgb(72, 17, 115) 100%);
  background-image: linear-gradient(90deg, rgb(203, 17, 171) 0%, rgb(153, 0, 153) 50%, rgb(72, 17, 115) 100%);
}

.product-page__market {
  display: flex;
  align-items: center;
  padding-bottom: 50px;

  &__label {
    font-weight: bold;
    font-size: 24px;
  }

  &__list {
    margin-left: auto;
    flex-wrap: nowrap;

    li {
      padding-left: 20px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 140px;
    border-radius: 12px;
    text-decoration: none;

    &.shop {
      border: 1px solid #000;
      color: #000;
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
    }
  }
}

.product-page__har {
  padding-top: 40px;
  border-top: 1px solid #dedede;

  &__title {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  &__item {
    display: flex;
    padding-bottom: 10px;

    &__label {
      width: 55%;
      overflow: hidden;

      span {
        position: relative;
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        line-height: 18px;
        color: #6c7a89;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 100%;
          bottom: 5px;
          margin-left: 15px;
          width: 500px;
          height: 1px;
          background: #6c7a89;
        }

      }
    }

    &__val {
      width: 45%;
      font-size: 15px;
      line-height: 18px;
      color: #000;
      padding-left: 15px;
    }
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.page-wrap {
  padding-top: 215px;
  padding-bottom: 150px;

  &__header {
    padding-bottom: 60px;

    h1 {
      margin: 0;
      font-size: 96px;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
}

.contact-info {
  padding-bottom: 95px;
  border-bottom: 1px solid #dedede;

  &__phone {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
      color: #000;
    }
  }

  &__email {
    font-weight: 500;
    font-size: 30px;
    text-decoration: underline;
    color: #000;

    &:hover {
      text-decoration: none;
      color: #000;
    }
  }

  &__address {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }

  &__name {
    padding: 5px 0 50px;
    font-size: 18px;
    line-height: 24px;
  }

  &__requisites {
    display: inline-flex;
    align-items: center;
    height: 72px;
    padding: 10px 10px 10px 37px;
    border-radius: 36px;
    border: 1px solid #000;
    text-decoration: none;

    span {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 20px;
    }

    &__ico {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      min-width: 48px;
      height: 48px;
      border-radius: 24px;
      background: #000;
    }
  }
}

.form-box {
  padding-top: 90px;

  &__title {
    padding-bottom: 55px;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.3;
  }

  &__item {
    margin-bottom: 30px;

    .form-control {
      width: 100%;
      height: 62px;
      display: block;
      padding: 20px 30px;
      font-size: 18px;
      line-height: 22px;
      border: 1px solid #f5f5f5;
      background: #f5f5f5;
      border-radius: 10px;
      color: #000;

      &::placeholder {
        color: #6c7a89;
        opacity: 1;
      }

      &:focus,
      &:hover,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }

    textarea.form-control {
      resize: none;
      height: 154px;
    }
  }

  &__body {
    margin: 0 -36px;

    & > div {
      padding-left: 36px;
      padding-right: 36px;
    }
  }

  &__footer {
    align-items: center;
    padding-top: 20px;
    margin: 0 -36px;

    & > div {
      padding-left: 36px;
      padding-right: 36px;
    }

    &__ps {
      font-size: 14px;
      line-height: 18px;

      a {
        color: #000;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.panel-top {
  margin-bottom: -1px;
}

.news {
  &__item {
    display: block;
    margin-bottom: 65px;

    &:hover {
      color: #6c7a89;
    }

    &__img {
      display: block;

      img {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    &__desc {
      h2 {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.3;
        margin: 0 0 10px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 10px;
      }
    }

    &__date {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }

  }
}

a:hover {
  color: #6c7a89;
}

.single-news {
  padding-bottom: 30px;

  &__header {
    padding-bottom: 40px;

    h1 {
      font-size: 42px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 1.2;
      margin: 0 0 25px;
    }
  }

  &__date {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  &__pic {
    display: block;
    margin-bottom: 25px;

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
}

.page-bay {
  padding-top: 160px;
  padding-bottom: 130px;

  &__desc {
    padding-top: 50px;

    h1 {
      font-size: 96px;
      line-height: 1;
      font-weight: 800;
      text-transform: uppercase;
      margin: 0 0 30px;
    }

    p {
      font-size: 28px;
      line-height: 34px;
      margin: 0 0 50px;
    }
  }

  &__footer {
    .marketplace__item__title {
      color: #000 !important;
    }
  }
}

.scene {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel-top.section5 {
  background: #efeff0;
}

.partners {
  background: #efeff0;
  padding-top: 60px;
  padding-bottom: 130px;

  h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 60px;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    padding: 56px;
    background: #fff;
    border-radius: 25px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
}


:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.wow2:not(.animate__animated) {
  visibility: hidden;
}

.footer__marketplace__item {
  transition: all 0.2s ease-in-out;

  svg path {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background: #fff;

    svg path {
      fill: #000;
    }
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

.section1__img1 {
  margin: -30px 0 0 22vw;
  animation: wave 8s infinite linear;
}

.section1__img2 {
  animation: wave 5s infinite linear;
  margin: 110px 0 0 13vw;
}

.section1__img3 {
  animation: wave 9s 0.1s infinite linear;
  margin: 300px 0 0 9vw;
}

.section1__img4 {
  animation: wave 11s 0.1s infinite linear;
  margin: 400px 0 0 10vw;
}

.marketplace .marketplace__bg__wrap {
  animation: wave 15s 0.1s infinite linear;
}

#scene4 {
  & > div {
    width: 100%;
    height: 100%;
  }
}

.section3__center {
  margin: 200px 0 0 350px;
}

.tpad150 {
  padding-top: 100px;
}

.black-bg {
  background-color: #000;
}

.sweet-animate {
  background: #fff;
  transition: all 0.5s ease-in-out;

  .home-footer {
    transition: all 0.5s ease-in-out;
  }

  .section4 {
    transition: all 0.5s ease-in-out;
  }

  h2,
  & p {
    transition: all 0.3s ease-in-out;
  }

  &.active {
    .home-footer {
      background: #000;
    }

    .section4 {
      background: #000;
    }

    h2 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }
}

.fpad200 {
  padding-bottom: 200px;
}

.modal-dialog {
  max-width: 540px;

  .modal-content {
    border-radius: 30px;
    padding: 40px;
    border: none;
  }

  .modal__close {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}

.modal__send-text {
  text-align: center;

  &__ico {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 25px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: #f5f5f5;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #000;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000;
  }

}

.catalog-page__filters__item__header {
  cursor: pointer;
}

.product-page__market__img.shop:hover {
  background-color: #000;

  span {
    color: #fff;
  }
}

.product-page__market__img {
  svg {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
}

.catalog-page__filters__item__header:hover .form-control {
  border-color: #38cc7a;
}

.catalog-page__filters__radio-btn span:hover {
  color: #38cc7a;
}

.fancybox__slide.has-image > .fancybox__content {
  background-color: #fff;
  padding: 15px;
}

.f-thumbs__slide__button {
  background-color: #fff;
}

.product-page__params__more:hover {
  color: #000;
}

.form-box__item {
  position: relative;

  .form-control.just-validate-error-field {
    border: 1px solid #d21313;
  }

  .just-validate-error-label {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 30px;
    color: #d21313;
    font-size: 13px;
    line-height: 18px;
    padding-top: 5px;
  }
}

.range-box {
  padding: 15px;
  height: 50px;
  .noUi-horizontal {
    height: 6px;
  }

  .noUi-target {
    border: none;
    box-shadow: none;
    border-radius: 3px;
    background: #f5f5f5;
  }

  .noUi-handle {
    width: 18px;
    height: 18px;
    box-shadow: none;
    border-radius: 9px;
    border: 6px solid #000;
    background: #38cc7a;
    cursor: pointer;

    &::after,
    &::before {
      display: none;
    }
  }
  .noUi-tooltip {
    background: transparent;
    border: none;
    font-size: 12px;
    font-weight: 400;
    bottom: auto;
    top: 100%;
  }
  .noUi-connect {
    background: #38cc7a;
  }
}

.pagination {
  padding: 20px 0 30px;
  justify-content: center;
  li {
    padding: 0 10px 10px;
  }

  &__link,
  &__dots {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 46px;
    height: 46px;
    justify-content: center;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
  }
  &__current {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 46px;
    height: 46px;
    justify-content: center;
    text-align: center;
    color: #fff;
    border: 1px solid #000000;
    background: #000;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
  }
}
